---
layout: page
title: homepage
---

<!--
<hr>

<div class="deskto">
<h5 class="testo">Categorie</h5><br>
<div class="row">

  
<div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
    <img class="card-img-top" src="assets/img/vue.png" alt="Card image cap">
</div>


    <div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
        <img class="card-img-top" src="assets/img/python.jpg" alt="Card image cap">
    </div>

    <div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
        <img class="card-img-top" src="assets/img/node.jpg" alt="Card image cap">
    </div>
    
    <div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
        <img class="card-img-top" src="assets/img/vue.png" alt="Card image cap">
    </div>
    


<div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
    <img class="card-img-top" src="assets/img/python.jpg" alt="Card image cap">
</div>


<div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
    <img class="card-img-top" src="assets/img/vue.png" alt="Card image cap">
</div>


<div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
    <img class="card-img-top" src="assets/img/node.jpg" alt="Card image cap">
</div>

<div class="card mb-4 art" style="width: 10rem; margin-right: 1%; margin-left: 2%;">
    <img class="card-img-top" src="assets/img/python.jpg" alt="Card image cap">
</div>
</div> 
</div>
-->

{% for post in site.posts %}
<div class="card mb-4 art">
  {% if post.foto %}
    <a href="{{ site.baseurl }}{{ post.url }}"><img class="card-img-top img-fluid" src="assets/img/{{post.foto}}" alt="Card image cap"
    style="max-width: 100%; height: auto;"/></a>    
  {% else %}
  <a href="{{ site.baseurl }}{{ post.url }}"><img class="card-img-top img-fluid" src="assets/img/default-img.jpg" alt="Card image cap"
    style="max-width: 100%; height: auto;"/> </a>
  {% endif %}
    <div class="card-body">
      <h2 class="card-title testo"><strong>{{ post.title }}</strong></h2>
      <p class="card-text">{{ post.excerpt | strip_html |truncate: "50" }}</p>
      <a class="btn btn-outline-dark bot" href="{{ site.baseurl }}{{ post.url }}">
        Continua a leggere &rarr;</a>
    </div>
    <div id="shareLst" class="card-footer text-muted">
      Pubblicato il {{ post.date | date: "%d-%m-%Y"}}
      <br id="autHr"> da <em>Fabio Buono</em>
      <hr id="shareHr">
      <span id="sxShare">{% include share.html %}</span>
    </div>
</div>

{% endfor %}
