---
layout: page
title: Categoria 'Node.js'
permalink: node
---

{% if site.categories.node %}
<h1><strong>Articoli della categoria Node.js</strong></h1>
<br>
<dl>
    {% for post in  site.categories.node %}
    <hr>
    <dt><a href="{{ site.baseurl }}/{{ post.ur }}"><h2>{{ post.title }}</h2></a></dt>
    <dd>
      <p>{{ post.excerpt | truncate: 120}}</p>
      <small>{{ post.date | date: "%d-%m-%Y" }}</small>
    </dd>
    <hr>
    {% endfor %}
</dl>
{% else %}
<hr>
<h1>Nessun post in questa categoria</h1>
<hr>
{% endif %}

